<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>
      Frontend Mentor | Newsletter sign-up form with success message
    </title>
  </head>
  <body>
    <div class="container">
      <div class="signup-card">
        <div class="text-side">
          <h1>Stay updated!</h1>
          <p>Join 60,000+ product managers receiving monthly updates on:</p>
          <ul>
            <li>
              <img
                src="/assets/images/icon-success.svg"
                alt="succes photo"
                class="success-img"
              />
              Product discovery and building what matters
            </li>
            <li>
              <img
                src="/assets/images/icon-success.svg"
                alt="succes photo"
                class="success-img"
              />Measuring to ensure updates are a success
            </li>
            <li>
              <img
                src="/assets/images/icon-success.svg"
                alt="succes photo"
                class="success-img"
              />And much more!
            </li>
          </ul>
          <form action="success.html" class="email-form" id="form">
            <div class="email-label">
              <label for="email">Email address</label>
              <div class="message"></div>
            </div>
            <input
              name="email"
              type="email"
              placeholder="email@company.com"
              class="email-input"
            />
            <input
              type="submit"
              class="sub-button"
              value="Subscribe to monthly newsletter"
            />
          </form>
        </div>
        <img
          src="/assets/images/illustration-sign-up-desktop.svg"
          alt="illustration photo"
          class="illustration"
        />
      </div>
    </div>
  </body>
  <script src="/js/app.js"></script>
</html>
