<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/success.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div>
          <img src="/assets/images/icon-success.svg" alt="success" />
          <h1>Thanks for subscribing!</h1>
          <p>
            A confirmation email has been sent to <br />
            <b class="email"></b> Please open it and click
            <br />
            the button inside to confirm your subscription
          </p>
        </div>
        <div>
          <form action="/index.html" id="dismiss-form">
            <input
              type="submit"
              class="dismiss-button"
              value="Dismiss message"
              id="dism-butt"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/success.js"></script>
</html>
