* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 18%, 26%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.text-side-content {
  display: flex;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.signup-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  width: 900px;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}

.text-side h1 {
  color: hsl(235, 18%, 26%);
  width: 100%;
  padding-top: 40px;
  font-size: 54px;
}

.text-side {
  width: 400px;
}

.text-side p {
  padding: 20px 0px;
  font-size: 16px;
}

.text-side ul {
  list-style: none;
}

.text-side li {
  margin: 15px 0 0 15px;
}

.email-form {
  margin-top: 40px;
  width: 350px;
}

.email-label {
  display: flex;
  justify-content: space-between;
}

label {
  color: hsl(235, 18%, 26%);
  font-size: 14px;
  font-weight: bold;
}

.success-img {
  width: 20px;
  margin-top: 15px;
}
.success-imgs {
  display: flex;
  flex-direction: column;
}

.email-input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%);
  margin-top: 10px;
  margin-bottom: 20px;
}

.message {
  font-size: 14px;
  text-align: end;
  color: hsl(4, 100%, 67%);
}

.error input {
  color: #f34444;
  border-color: #ff3860;
}

.error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.sub-button {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: hsl(234, 29%, 20%);
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.sub-button:hover {
  background-color: hsl(234, 12%, 32%);
}

@media only screen and (max-width: 376px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  body {
    width: 90%;
    margin: 0 auto;
  }

  .container {
    max-width: 90%;
  }

  .signup-card {
    border-radius: 0;
    padding: 0;
  }

  .text-side {
    width: 90%;
  }

  .text-content {
    margin-left: 20px;
  }

  .text-side h1 {
    padding-bottom: 5px;
    font-size: 40px;
  }

  .success-img {
    margin-top: 4px;
    margin-bottom: 20px;
  }

  .text-side ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-side li {
    margin-top: 0px;
  }

  .email-form {
    width: 100%;
    margin-top: 25px;
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .sub-button {
    width: 100%;
  }

  .illustration {
    width: 100vw;
  }
}
